{% extends "template.html" %} {% block content %}
<h1 class="title">Add a new Password entry</h1>
<div class="row">
	<div class="password-item">
		{% with messages = get_flashed_messages() %} {% if messages %}
		<div class="notification is-danger">{{ messages[0] }}</div>
		{% endif %} {% endwith %}
		<form method="POST" action="/add">
			<div class="item">
				<input class="input" type="text" name="title" placeholder="Title"/>						
			</div>
			<div class="item">
				<input class="input" type="url" name="url" placeholder="URL"/>
			</div>
			<div class="item">
				<input class="input" type="text" name="username" placeholder="Username"/>
			</div>
			<div class="item">
				<input class="input" type="password" name="password" placeholder="Password"/>
			</div>
			<div class="item">
					<textarea class="input" rows=10, cols=50 name="comment" placeholder="Comment" autofocus=""></textarea>
			</div>
			<input class="button"
					type="submit" name="submit" value="Save Password" />
		</form>
	</div>
</div>
{% endblock %}
