{% extends "template.html" %} {% block content %}
<div>
	<h1 class="title">Login</h1>
	<div class="login row">
		<div class="login-item">
			{% with messages = get_flashed_messages() %} {% if messages %}
			<div class="notification is-danger">{{ messages[0] }}</div>
			{% endif %} {% endwith %}

			<form method="POST" action="/login">
				<div class="item">
					<input class="input" type="text" name="login"
						placeholder="Your Login Name" autofocus="">
				</div>

				<div class="item">
					<input class="input" type="password" name="password"
						placeholder="Your Password">
				</div>
				<div class="item">
					<label class="checkbox"> <input type="checkbox"
						name="remember"> Remember me
					</label>
				</div>
				<div class="item">
					<input class="button" type="submit" name="submit" value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
