{% extends "template.html" %} {% block content %}
<h1>All your passwords</h1>

{% if passwords|length > 0 %} {% for item in passwords %}

<div class="password row">
	<div class="password_first">
		<div class="password_username">{{ item.username }}</div>
		<div class="password_url">{{ item.url }}</div>
	</div>
	<div class="password_middle">
		<div class="password_title">{{ item.title }}</div>
		<div class="password_comment">{{ item.comment }}</div>
	</div>
	<div class="password_last">
		{% if current_user.id == item.user_id %}
		<a id="copypassword_{{item.id}}" class="copypassword" href="#">Copy Password</a>
		<a href="/update?id={{item.id}}">Update</a> 
		<a href="/delete?id={{item.id}}">Delete</a>
		{% endif %}
	</div>
</div>

{% endfor %} {% else %} NO PASSWORDS FOUND, enhance your search or add a password .... {%
endif %}
{% endblock content %}