{% extends "template.html" %} {% block content %}
<h1 class="title">Update Password entry</h1>
<div class="row">
	<div class="password-item">
		{% with messages = get_flashed_messages() %} {% if messages %}
		<div class="notification is-danger">{{ messages[0] }}</div>
		{% endif %} {% endwith %}
		<form method="POST" action="/update">
			<div class="item">
				<input class="input" type="text" name="title" placeholder="Title" value="{{password.title}}"/>						
			</div>
			<div class="item">
				<input class="input" type="url" name="url" placeholder="URL" value="{{password.url}}"/>
			</div>
			<div class="item">
				<input class="input" type="text" name="username" placeholder="Username" value="{{password.username}}"/>
			</div>
			<div class="item">
				<input class="input" type="password" name="password" placeholder="Password" value="{{password.password}}"/>
			</div>
			<div class="item">
				<input type="hidden" name="id" value="{{password.id}}">
				<textarea class="input" rows=10, cols=50 name="comment"
					placeholder="Comment" autofocus="">{{password.comment}}</textarea>
			</div>
			<input class="button"
					type="submit" name="submit" value="Update Password" />
		</form>
	</div>
</div>
{% endblock %}
