extends main.pug

block content
  div.splash-container.flag
    div.splash
      img.title-image(src='title.png')
      h1.splash-head Congrats! 
      p.splash-subhead he2023{fun_w1th_ev1l_ev4l_1n_nyc}