body {
  margin: 0px, 20px, 20px, 20px;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: #222;
  background-image: url("background.jpg");
  background-size: 100%, 100%;
}

#codelock {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  text-align: center;
  font-size: 20px;
}

img {
  height: 600px;
}

.overlay {
  position: absolute;
  width: 394px;
  height: 100px;
  top: 50px;
  display: none;
}